.box-select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 150px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: -webkit-fill-available;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  .boxes {
    display: flex;
  }
  .box-select {
    text-align: center;

    .title {
      font-size: 1rem;
      margin-bottom: 0;
      text-align: center;
    }

    .select {
      width: 150px;
      height: 40px;
      padding: 2px;
      text-align: center;
      margin: 10px 15px;
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .btn-white {
    margin: 10px;
    color: black;
    background-color: whitesmoke;
    border: solid 1px black;
  }

  .is-active {
    // border: solid 2px lightblue;
    background-color: rgb(0, 0, 0);
    color: white;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
